{%extends "layout.html"%}

{%block style%}
<link href="static/astyles.css" rel="stylesheet">
{%endblock%}

{%block title%}
About
{%endblock%}


{%block main%}

<div class="container">    
    <h1>Hey there</h1>
    
    <h4 style="margin-top: 45px; margin-bottom: 15px;">About me</h4>

    <p class="para">I am Tahmid Bin Haque. My hometown is Rajshahi. I am currently in my 2nd semester at Brac University studying CSE. Sports, music and movies are most of the things I am interested in. I was learning web development for a while. This is my first ever big project. I was taking a course named CS50x by Harvard University somewhat 8 month ago. I was done with most of the tasks within two months but there was a final project that I had to submit. Well this is it. I could have chosen a much easier project to just finish the course but it wasn't good enough for me. I was also admitted into the university at that time. That's why with some procrastination it took almost a month to finish and polish up the project.</p>

    <h4 style="margin-top: 15px; margin-bottom: 15px;">Origin story</h4>

    <p class="para">I tend to lose stuff a lot. When I moved to Dhaka about two months ago. Just in the first month, I lost a phone, a calculator a headphone, and two sets of keys. So that's when the idea for my final project came. A website where people can post their lost items and if someone finds them who can look them up. Kinda like bikroy.com but for lost items. I designed a lot of the elements with green and red colors to create a BD aesthetic.</p>

    <h4 style="margin-top: 15px; margin-bottom: 15px;">Tech stacks used</h4>

    <ul style="text-align: left;">
        <li>
            <p>HTML</p>
        </li>
        <li>
            <p>CSS</p>
        </li>
        <li>
            <p>Javascript</p>
        </li>
        <li>
            <p>Bootstrap</p>
        </li>
        <li>
            <p>Go to /riddler</p>
        </li>
        <li>
            <p>Jquery</p>
        </li>
        <li>
            <p>Sqlite</p>
        </li>
        <li>
            <p>API(Cloudinary, Memegen)</p>
        </li>
        <li>
            <p>Flask</p>
        </li>
    </ul>

    <h4 style="margin-top: 15px; margin-bottom: 15px;">Disclaimer</h4>
    <p class="para">Notice that I haven't used any heavy libraries like react or angular. I'm still in the learning phase. So constructive criticisms are welcomed. You can contact me on <a style="text-decoration: none; color: #198754;" href="https://t.me/tahmidamit" target="_blank" rel="noopener noreferrer"> Telegram.</a> You can also find the whole project on <a style="text-decoration: none; color: #198754;" href="/about" target="_blank" rel="noopener noreferrer">Github</a>. There are no ads, no trackers are involved. The passwords are safely stored with SHA256 encryption. Please don't abuse the webapp.</p>
    <p class="para">Note: There's a small puzzle hidden in this page. Follow the clues and you might be able to solve it. If you can then I will add your name on a secret leaderboard 😉</p>
</div>

{%endblock%}