{%extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{%block style%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#register').on('submit', function(event){

        event.preventDefault();
        var formData = new FormData($('#register')[0]);

        $.ajax({
            type : 'POST',
            url : '/register',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            
            success: function (data) {
            $('#alert').show();
            $('#alert-text').html("");
            $('#alert-text').html(data.error);
            
            if(data.error=="Registered..!"){
                setTimeout(function() {
                window.location.href = "/login";
                }, 500);
            }
            }
        });
        return false;
      });
    });
</script>
{%endblock%}

{% block main %}
    <header>
        <div id="alert" style="display: none;" class="alert alert-danger mb-3 text-center" role="alert">
            <strong id="alert-text"></strong>
        </div>
    </header>

    <form action="/register" id="register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" required placeholder="Username" type="text">
            <small id="passwordHelpInline" class="text-muted">
                Must be 6-12 characters long.
            </small>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" required placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" required placeholder="Password" type="password">
            <small id="passwordHelpInline" class="text-muted">
                Must be 8-20 characters long.
            </small>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="conf_password" name="confirmation" required placeholder="Confirm Password" type="password">
        </div>
        
        <button class="btn btn-success" type="submit">Register</button>
    </form>
{% endblock %}